# Node
frontend/node_modules
frontend/npm-debug.log

# Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/ev2
# VSCode
.vscode/
yaml-working-actions-template

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
